<div class="chat-error">
  <div class="chat-error__container">
    <h2 class="chat-error__title">{{ title }}</h2>
    <p class="chat-error__text">{{ text }}</p>
    <a class="chat-link chat-error__link" href="#" data-link="/">К списку чатов</a>
  </div>
</div>
