@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
  text-rendering: geometricPrecision;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  color: #353535;
  padding: 0;
  margin: 0;
}

input, textarea {
  color: #353535;
  font-family: inherit;
}

button {
  cursor: pointer;
}

input::placeholder {
  color: #8D99AE;
}

input:focus, textarea:focus, button:focus {
  outline: 0;
}

.hidden {
  display: none !important;
}

.tile-block {
  border-radius: .6rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.chat-link {
  text-decoration: none;
  color: #6995E0;
  font-size: 1.6rem;
}

.chat-main-btn, .chat-warning-btn {
  width: 28rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: 0;
  border-radius: .6rem;
}

.chat-main-btn {
  background-color: #6995E0;
  color: #FFFFFF;
}

.chat-warning-btn {
  background-color: #F3F4F7;
  color: #C52233;
}

.chat-btn-invalid {
  font-size: 1.6rem;
  color: #C52233;
  text-align: center;
}

.chat-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}

.chat-input {
  margin-bottom: .5rem;
}

.chat-input__label {
  display: block;
  font-size: 1.6rem;
  color: #8D99AE;
  padding-left: .5rem;
}

.chat-input__input {
  display: block;
  width: 28rem;
  border: 0;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: .6rem;
  background-color: #F3F4F7;
  box-sizing: border-box;
}

.chat-input__input[disabled] {
  color: #8D99AE;
}

.chat-input__invalid {
  font-size: 1.6rem;
  color: #C52233;
  padding-left: .5rem;
}

.chat-file-input {
  text-align: center;
}

.chat-file-input label {
  cursor: pointer;
  font-size: 1.6rem;
  color: #6995E0;
}

.chat-file-input input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.chat-avatar {
  display: flex;
  align-items: center;
}

.chat-avatar__img {
  background-color: #F3F4F7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-avatar__img span {
  font-size: 2.8rem;
  color: #8D99AE;
}

.chat-avatar__name {
  margin-left: 1rem;
}

.chat-form {
  display: flex;
  justify-content: space-between;
}

.chat-form__column {
  margin-right: 2.4rem
}

.chat-form__column:last-child {
  margin: 0;
}

.chat-form__btn {
  padding-top: 2rem;
}

.chat-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(141, 153, 174, .6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-popup__box {
  width: 28rem;
  padding: 1.5rem 6rem 2.5rem;
  background-color: #FFFFFF;
  border-radius: .5rem;
}

.chat-popup__btn {
  padding-top: 2rem;
}
