<div class="chat-popup__box">
  <h3 class="chat-title">{{ title }}</h3>
  <div class="chat-popup__btn">
    <button data-btn-type="сancel" class="chat-main-btn">Отмена</button>
  </div>
  <div class="chat-popup__btn">
    <button data-btn-type="submit" data-action-type="{{ action }}" class="chat-warning-btn">{{ btnText }}</button>
  </div>
</div>
