.chat-auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 1.5rem 3rem;
  }

  &__form-link {
    text-align: center;
    margin-top: .5rem;
  }
}
